$mobileW: 375px;
$deskW: 1440px;

$softRed: hsl(5, 85%, 63%);
$softOrange: hsl(35, 77%, 62%);

$OffWhite: hsl(36, 100%, 99%);
$GrayishBlue: hsl(233, 8%, 79%);
$DarkGrayishBlue: hsl(236, 13%, 42%);
$VeryDarkBlue: hsl(240, 100%, 5%);

$FontSize: 15px;

$lightWeight: 400;
$midWeight: 700;
$hightWeight: 800;

